
.header {

  margin-bottom: 10px;

}

.slideshow {

  margin-bottom: 10px;

}

.adv {

  margin-bottom: 10px;

}

.main {

  margin-bottom: 10px;

}

.partner {

  margin-bottom: 10px;

}

/*END-CSS:COMMON

==================================================================================================================*/

/*---------------------------------------------------------------

CSS CSS Scripts

-----------------------------------------------------------------

01.owl carousel*/

.owl-carousel .boxprevnext a {

  background-color: #333333;

  color: #ffffff;

  cursor: pointer;

  display: block;

  font-size: 34px;

  padding: 5px 7px;

  position: absolute;

  text-align: center;

  top: -45px;

  width: 35px;

}

.owl-carousel .boxprevnext a i {

  margin-right: 0;

}

.owl-carousel .boxprevnext a:hover {

  background: #70ba28 none repeat scroll 0 0;

  box-shadow: none;

  color: #ffffff;

  border-color: #333333;

}

.owl-carousel .boxprevnext a.prev {

  right: 48px;

}

.owl-carousel .boxprevnext a.next {

  right: 10px;

}

.owl-carousel:hover .boxprevnext a {

  opacity: 1;

}

/*---------------------------------------------------------------

CSS structure reset Bootstrap

-----------------------------------------------------------------

01. Typography

02. Images

03. Breadcrumb

04. Navigation

05. Pagination

06. Tab

07. Alert

08. Form

09. Buttons

10. Table

11.Caret

	

/*1.Typography */

body {

  font-family: Verdana;

  font-size: 12px;

}

.boxed-layout body {

  background: #f3f3f3;

}

.boxed-layout .wrapper {

  margin: 0 auto;

  background: #ffffff;

}

h1,

h2,

h3,

h4,

h5,

h6 {

  margin-bottom: 0px;

}

i {

  margin-right: 5px;

}

h1 {

  font-size: 36px;

}

h2 {

  font-size: 14px;

  margin: 10px 0;

}

h3 {

  font-size: 30px;

}

h4 {

  font-size: 24px;

}

h5 {

  font-size: 18px;

  line-height: 30px;

  margin: 0 0 15px 0;

}

h6 {

  font-size: 13px;

  line-height: 24px;

  margin: 0 0 10px 0;

}

h1 {

  color: #333333;

  font-size: 17px;

  margin-bottom: 15px;

  margin-top: 0;

  text-transform: uppercase;

}

h1.title {

  position: relative;

}

h1.title:before {

  background: #333333 none repeat scroll 0 0;

  bottom: 7px;

  content: "";

  height: 2px;

  position: absolute;

  width: 100%;

}

h1.title span {

  background: #ffffff none repeat scroll 0 0;

  color: #70ba28;

  display: inline-block;

  font-size: 18px;

  position: relative;

  margin-right: 10px;

  padding-right: 10px;

}

ul {

  list-style: none;

  padding: 0;

}

ol,

ul {

  margin: 0;

}

.row {

  margin-left: -10px;

  margin-right: -10px;

}

.container,

.container-fluid {

  padding-left: 10px;

  padding-right: 10px;

}

.col-lg-1,

.col-lg-10,

.col-lg-11,

.col-lg-12,

.col-lg-2,

.col-lg-3,

.col-lg-4,

.col-lg-5,

.col-lg-6,

.col-lg-7,

.col-lg-8,

.col-lg-9,

.col-md-1,

.col-md-10,

.col-md-11,

.col-md-12,

.col-md-2,

.col-md-3,

.col-md-4,

.col-md-5,

.col-md-6,

.col-md-7,

.col-md-8,

.col-md-9,

.col-sm-1,

.col-sm-10,

.col-sm-11,

.col-sm-12,

.col-sm-2,

.col-sm-3,

.col-sm-4,

.col-sm-5,

.col-sm-6,

.col-sm-7,

.col-sm-8,

.col-sm-9,

.col-xs-1,

.col-xs-10,

.col-xs-11,

.col-xs-12,

.col-xs-2,

.col-xs-3,

.col-xs-4,

.col-xs-5,

.col-xs-6,

.col-xs-7,

.col-xs-8,

.col-xs-9 {

  padding-left: 10px;

  padding-right: 10px;

}

a {

  color: #aaaaaa;

}

a:hover {

  color: #70ba28;

}

hr {

  margin-top: 0;

  margin-bottom: 0;

  border-style: dotted;

  border-color: #c3c3c3;

}

/*2.Images

================================== */

.img-responsive {

  display: inline-block;

}

.carousel-inner > .item > a > img,

.carousel-inner > .item > img,

.img-responsive,

.thumbnail a > img,

.thumbnail > img {

  max-width: 100%;

  height: auto;

}

/*03.Breadcrumb================================== */

.breadcrumb {

  background: transparent;

  padding: 0;

  margin: 0 0 15px;

}

.breadcrumb ul li {

  position: relative;

  margin: 0;

  padding: 0;

  float: left;

}

.breadcrumb ul li a {

  color: #aaaaaa;

}

.breadcrumb ul li a:hover {

  color: #ff5400;

}

.breadcrumb ul li:last-child {

  color: #70ba28;

}

.breadcrumb ul li .link-site-more {

  display: inline;

}

.breadcrumb ul li .link-site-more img {

  margin-left: 5px;

}

.breadcrumb ul li ul {

  background: #fff none repeat scroll 0 0;

  border: 1px solid #ffffff;

  box-shadow: 0 1px 2px #ccc;

  display: none;

  right: 0;

  position: absolute;

  top: 15px;

  width: 160px;

  z-index: 10;

}

.breadcrumb ul li ul li {

  float: none;

}

.breadcrumb ul li ul li a {

  padding: 5px 10px;

  background-image: none;

  display: block;

}

.breadcrumb ul li ul li a:hover {

  background-color: #ff5400;

  color: #ffffff;

}

.breadcrumb ul li ul li + li:before {

  content: none;

}

.breadcrumb ul li:hover ul {

  display: block;

}

.breadcrumb ul li + li:before {

  content: "";

  font-family: FontAwesome;

  padding: 2px 10px;

  color: #aaaaaa;

}

/*04.Navigation

=========================== */

.navbar {

  min-height: initial;

  margin-bottom: 0;

}

.navbar-brand {

  position: relative;

  padding: 5px 0 5px 0;

}

.static-nav-collapse,

.top-nav-collapse {

  background: #ffffff;

  padding-top: 10px;

  padding-bottom: 10px;

  opacity: 0.96;

  -webkit-transition: all 0.3 ease-in-out;

  -moz-transition: all 0.3 ease-in-out;

  -o-transition: all 0.3 ease-in-out;

  transition: all 0.3 ease-in-out;

  -webkit-box-shadow: inset 0 8px 6px -6px 0.5 1px 2px rgba(0, 0, 0, 0.4);

  -moz-box-shadow: inset 0 8px 6px -6px 0.5 1px 2px rgba(0, 0, 0, 0.4);

  box-shadow: inset 0 8px 6px -6px 0.5 1px 2px rgba(0, 0, 0, 0.4);

}

.static-nav-collapse:hover,

.top-nav-collapse:hover {

  opacity: 1;

}

.navbar-default .navbar-nav > li > a {

  font-size: 12px;

  color: #aaaaaa;

  text-transform: uppercase;

  padding: 8px 12px 8px 12px;

}

.static-nav-collapse .navbar-nav > li > a,

.top-nav-collapse .navbar-nav > li > a {

  color: #aaaaaa;

}

.navbar-default .navbar-nav > li > a:hover,

.navbar-default .navbar-nav > li > a:focus,

.navbar-default .navbar-nav > li > a:active {

  color: #70ba28;

}

.navbar-default .navbar-nav > li > a.login {

  border: 1px solid #ffffff;

  border-radius: 2px;

  padding: 8px 25px 8px 25px;

  margin-left: 5px;

}

.navbar-default .navbar-nav li a.selected,

.navbar-default .navbar-nav li a:hover,

.navbar-default .navbar-nav .active a,

.navbar-default .navbar-nav .dropdown.active a,

.navbar-default .navbar-nav .active a:hover,

.navbar-default .navbar-nav .dropdown.active a:hover,

.navbar-default .navbar-nav .active a:focus,

.navbar-default .navbar-nav .dropdown.active a:focus {

  background: none;

}

.navbar-default .navbar-toggle,

.navbar-default .navbar-toggle:active,

.navbar-default .navbar-toggle:focus {

  border: 2px solid #aaaaaa;

  background: none;

  margin: 5px 15px 0 0;

}

.navbar-default .navbar-toggle:hover {

  background: none;

}

.navbar-default .navbar-toggle .icon-bar,

.navbar-default .navbar-toggle:focus .icon-bar {

  background-color: #aaaaaa;

}

.navbar-collapse {

  padding: 0;

}

.nav > li > a:focus,

.nav > li > a:hover {

  background-color: transparent;

}

/*05.Pagination=========================== */

.pager {

  margin: 0;

}

ul.pagination {

  margin: 0;

}

ul.pagination li a {

  margin: 5px;

  font-size: 15px;

  border: 0;

  color: #333333;

  background-color: #ffffff;

  border-radius: 5px;

}

ul.pagination li.active a,

.pagination > li > a:focus,

.pagination > li > a:hover,

.pagination > li > span:focus,

.pagination > li > span:hover {

  background-color: #70ba28;

  color: #ffffff;

}

/*06.Tab================================== */

.nav-tabs {

  border-bottom: none;

}

.nav-tabs > li > a {

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  border-radius: 0;

  -moz-background-clip: padding;

  -webkit-background-clip: padding-box;

  background-clip: padding-box;

  text-transform: uppercase;

  font-size: 14px;

  background: rgba(0, 0, 0, 0.7);

  color: #ffffff;

  border: none;

  margin-bottom: 3px;

}

.nav-tabs > li > a:hover {

  background: #333333;

  border-top: solid 1px #eeeeee;

  border-left: solid 1px #eeeeee;

  border-right: solid 1px #eeeeee;

  border-bottom: solid 1px #eeeeee;

}

/*07.Alert

================================== */

.alert {

  padding: 10px 30px 10px 30px;

}

/*08.Form

================================== */

input[type="checkbox"] {

  height: auto;

}

.form-control {

  color: #aaaaaa;

  font-size: 11px;

}

.help-block {

  color: #ff5400;

}

input {

  margin-bottom: 15px;

}

textarea {

  margin-bottom: 15px;

}

/*09.Button

================================== */

.btn {

  display: inline-block;

  padding: 8px 15px;

  margin-bottom: 0;

  font-size: 12px;

  text-transform: uppercase;

  line-height: 1.42857143;

  text-align: center;

  white-space: nowrap;

  vertical-align: middle;

  -ms-touch-action: manipulation;

  touch-action: manipulation;

  cursor: pointer;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  background-image: none;

  border: 1px solid transparent;

  margin-bottom: 15px;

  -webkit-transition: all 0.3s ease-in-out;

  -moz-transition: all 0.3s ease-in-out;

  -o-transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;

  color: #ffffff !important;

}

.btn-default {

  color: #ffffff;

  background-color: #333333;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

  border: none;

}

.btn-default:hover {

  color: #70ba28;

  background-color: #ff5400;

}

.btn-primary {

  background-color: #ff5400;

  color: #ffffff;

  border: none;

}

.btn-primary:hover {

  background-color: #333333;

}

/*10.Table*/

.table > tbody > tr > td,

.table > tbody > tr > th,

.table > tfoot > tr > td,

.table > tfoot > tr > th,

.table > thead > tr > td,

.table > thead > tr > th {

  vertical-align: middle;

}

.table {

  margin-bottom: 0;

  background-color: #ffffff;

}

.table thead {

  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fdfdfd 0%, #f4f4f4 100%) repeat scroll 0 0 !important;

}

/*11.Caret*/

.caret {

  margin-left: 5px;

}

/*---------------------------------------------------------------

End CSS structure reset Bootstrap

-----------------------------------------------------------------

/*START-CSS:PANEL TOOL

==================================================================================================================*/

.panel-tool {

  position: fixed;

  top: 100px;

  z-index: 9999;

}

.panel-tool .panel-button {

  cursor: pointer;

  padding: 10px;

  position: absolute;

  right: -41px;

  top: 7px;

  color: #ffffff;

  font-size: 16px;

  background-color: #ff5400;

  border-radius: 0 5px 5px 0;

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.panel-tool .panel-button i {

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.panel-tool .panel-button:hover {

  background-color: #70ba28;

}

.panel-tool .panel-content {

  border: 1px solid #dddddd;

  padding: 10px;

  position: relative;

  width: 180px;

  background-color: #ffffff;

}

.panel-tool .panel-content ul li {

  float: left;

}

.panel-tool .panel-content ul li a {

  float: left;

  height: 25px;

  margin-bottom: 5px;

  margin-right: 5px;

  width: 25px;

}

.panel-tool .panel-content ul li a:hover {

  opacity: 0.5;

}

/*END-CSS:PANEL TOOL

==================================================================================================================*/

/*BEGIN-CSS:TOPLINK

==================================================================================================================*/

.top-link {

  margin-bottom: 0;

  border-radius: 0;

  border-bottom: 1px solid #dddddd;

  background-color: #333333;

  /*display-menu*/

}

.top-link .topmenu-contact {

  color: #ffffff;

}

.top-link ul {

  margin: 0;

}

.top-link ul li {

  float: left;

  position: relative;

  line-height: 40px;

}

.top-link ul li a {

  color: #ffffff;

  display: block;

  padding: 10px;

  font-size: 12px;

  float: left;

}

.top-link ul li a:hover {

  color: #70ba28;

}

.top-link ul li:last-child a {

  border: none;

}

.top-link ul .account-info a:first-child {

  padding-right: 0;

  color: #70ba28;

}

.top-link .show-mobile {

  float: right;

  position: relative;

}

.top-link .show-mobile .quick-user,

.top-link .show-mobile .quick-access {

  float: left;

}

.top-link .show-mobile .quickaccess-toggle {

  cursor: pointer;

  font-size: 14px;

  height: 35px;

  line-height: 35px;

  text-align: center;

  width: 35px;

  padding: 10px;

  color: #aaaaaa;

}

.top-link .show-mobile .quickaccess-toggle:hover {

  color: #70ba28;

}

.top-link .show-mobile .inner-toggle {

  background-color: #ffffff;

  border: medium none;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.176);

  display: block;

  left: auto;

  margin: 0;

  min-width: 150px;

  padding: 10px;

  position: absolute;

  right: 5px;

  top: 115%;

  z-index: 999;

  visibility: hidden;

  opacity: 0;

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.top-link .show-mobile .inner-toggle ul {

  float: left;

}

.top-link .show-mobile .inner-toggle ul li {

  width: 100%;

}

.top-link .show-mobile .inner-toggle ul li a {

  padding: 5px 0;

  border-right: none;

  display: block;

}

.top-link .quick-user:hover .inner-toggle {

  opacity: 1;

  visibility: visible;

}

.top-link .quick-access:hover .inner-toggle {

  opacity: 1;

  visibility: visible;

}

/*END-CSS:TOPLINK

==================================================================================================================*/

/*BEGIN-CSS:HEADER CONTENT

==================================================================================================================*/

.header-content {

  padding: 20px 0;

}

.header-content .header-left {

  margin-bottom: 15px;

}

.header-content .header-left .logo {

  height: 93px;

}

.header-content .header-left .logo img {

  max-height: 100%;

  max-width: 100%;

}

.header-content .header-right .sale-policy {

  padding-left: 100px;

  margin-bottom: 15px;

}

.header-content .header-right .sale-policy ul li {

  float: left;

  text-transform: uppercase;

  color: #aaaaaa;

  margin-bottom: 10px;

  margin-right: 50px;

}

.header-content .header-right .sale-policy ul li i {

  font-size: 24px;

  color: #70ba28;

  float: left;

}

.header-content .header-right .sale-policy ul li span {

  float: left;

  line-height: 28px;

  margin-bottom: 0;

}

.header-content .header-right .search {

  float: right;

}

.header-content .header-right .search .form-search .form-search-controls {

  float: left;

}

.header-content .header-right .search .form-search .form-search-controls input {

  margin-right: -1px;

  width: 325px;

  border: 1px solid #dddddd;

  border-radius: 0;

  color: #aaaaaa;

  height: 40px;

  padding: 5px;

}

.header-content .header-right .search .form-search .form-search-controls .select-categories {

  float: right;

  margin: 0;

  overflow: hidden;

  position: relative;

  width: 181px;

}

.header-content .header-right .search .form-search .form-search-controls .select-categories:after {

  content: "";

  font-family: "FontAwesome";

  font-size: 13px;

  line-height: 42px;

  pointer-events: none;

  position: absolute;

  right: 2px;

  text-align: center;

  top: 2px;

  width: 30px;

}

.header-content .header-right .search .form-search .form-search-controls .select-categories select {

  border: 1px solid #dddddd;

  border-radius: 0;

  color: #aaaaaa;

  height: 40px !important;

  padding: 5px;

  -moz-appearance: none;

  -webkit-appearance: none;

  background-color: #f6f6f6;

  width: 180px;

}

.header-content .header-right .search .form-search .form-search-controls .select-categories select .option {

  padding: 5px 10px;

  cursor: pointer;

}

.header-content .header-right .search .form-search .form-search-controls .select-categories select .option:hover {

  background-color: #70ba28;

}

.header-content .header-right .search .form-search .btn-search {

  background-color: #333333;

  color: #ffffff;

  height: 40px;

  margin-left: -1px;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  border-radius: 0;

  -moz-background-clip: padding;

  -webkit-background-clip: padding-box;

  background-clip: padding-box;

  font-size: 14px;

  border: none;

  float: right;

}

.header-content .header-right .search .form-search .btn-search:hover {

  background-color: #bde893;

  color: #70ba28;

}

.header-content .header-right .cart {

  float: right;

  margin-left: 50px;

}

.header-content .header-right .cart .heading a {

  display: block;

  height: 43px;

  line-height: 40px;

}

.header-content .header-right .cart .heading a .icon {

  background-image: url("Images/i_mycart.png");

  display: inline-block;

  width: 24px;

  background-repeat: no-repeat;

  background-position: center;

  color: transparent;

  height: 30px;

  margin-right: 5px;

}

.header-content .header-right .cart .heading a i {

  margin-left: 15px;

}

.header-content .header-right .cart .box-cart-dropdown {

  background: #ffffff none repeat scroll 0 0;

  display: block;

  position: absolute;

  right: 0;

  top: 80%;

  transition: all 0.3s ease 0s;

  min-width: 250px;

  z-index: 9999;

  border: 1px solid #c3c3c3;

  display: none;

}

.header-content .header-right .cart .box-cart-dropdown .docs {

  margin-bottom: 5px;

}

.header-content .header-right .cart .box-cart-dropdown .cart-empty {

  padding: 10px;

  text-align: center;

}

.header-content .header-right .cart .box-cart-dropdown .cart-empty a {

  color: #70ba28;

}

.header-content .header-right .cart .box-cart-dropdown .cart-empty a:hover {

  color: #ff5400;

}

.header-content .header-right .cart .box-cart-dropdown .box-cart-dropdown-block .total {

  padding: 10px;

  background-color: #f6f6f6;

}

.header-content .header-right .cart .box-cart-dropdown .box-cart-dropdown-block .total a {

  color: #70ba28;

}

.header-content .header-right .cart .box-cart-dropdown .box-cart-dropdown-block .total a:hover {

  color: #333333;

}

.header-content .header-right .cart .box-cart-dropdown ul li {

  position: relative;

  padding: 5px 0;

  border-bottom: 1px dotted #aaaaaa;

}

.header-content .header-right .cart .box-cart-dropdown ul li .image {

  float: left;

  width: 60px;

  padding: 0 5px;

}

.header-content .header-right .cart .box-cart-dropdown ul li .name {

  float: left;

  margin-right: 10px;

}

.header-content .header-right .cart .box-cart-dropdown ul li .name a {

  color: #333333;

  font-weight: bold;

}

.header-content .header-right .cart .box-cart-dropdown ul li .name a:hover {

  color: #70ba28;

}

.header-content .header-right .cart .box-cart-dropdown ul .remove_link {

  float: right;

  margin-top: 5px;

}

.header-content .header-right .cart .box-cart-dropdown ul .remove_link i {

  color: #ff5400;

  font-size: 16px;

}

.header-content .header-right .cart .box-cart-dropdown .cart-payment .amount {

  padding: 10px;

  font-weight: bold;

  border-bottom: 1px dotted #c3c3c3;

}

.header-content .header-right .cart .box-cart-dropdown .cart-payment .amount strong {

  float: right;

  font-size: 16px;

  color: #70ba28;

}

.header-content .header-right .cart .box-cart-dropdown .cart-payment .btn-payment {

  padding: 10px;

  text-align: center;

}

.header-content .header-right .cart .box-cart-dropdown .cart-payment .btn-payment .btn {

  margin-bottom: 0;

}

.header-content .header-right .cart:hover .box-cart-dropdown {

  display: block;

}

.header-banner img {

  width: 100%;

}

/*END-CSS:HEADER CONTENT

==================================================================================================================*/

/*BEGIN-CSS:MENU NAVIGATION

==================================================================================================================*/

.navigation-menu {

  background-color: #ff5400;

  height: 53px;

  margin-bottom: 20px;

}

.navigation-menu .menu-cate {

  position: relative;

  width: 100%;

}

.navigation-menu .menu-cate .menu-cate-title {

  border-left: 1px solid #ff7633;

  border-right: 1px solid #ff7633;

  color: #ffffff;

  font-size: 15px;

  font-weight: bold;

  padding: 16px 43px 16px;

  position: relative;

  text-transform: uppercase;

  background: url(Images/icon-verticalmenu.png) no-repeat 15px center;

  padding-right: 0;

}

.navigation-menu .menu-cate .menu-cate-title i.fa-chevron-circle-down {

  position: absolute;

  right: 7px;

  top: 23px;

  cursor: pointer;

}

.navigation-menu .menu-cate .menu-cate-title i.fa-chevron-circle-down:hover {

  color: #70ba28;

}

.navigation-menu .menu-cate .menu-cate-title a {

  color: #ffffff;

}

.navigation-menu .menu-cate .menu-cate-title:hover .menu-cate-content {

  display: block !important;

}
.menu-cate-content li:hover .sub-menu ul{
  display: block !important;
}
.menu-cate:hover ul.menu-cate-content{
  display: block !important;
}

.navigation-menu .menu-cate i {

  font-size: 17px;

}

.navigation-menu .menu-cate ul {

  background-color: #ffffff;

  position: absolute;

  max-height: 420px;

  width: 100%;

  z-index: 99;

  border: 1px solid #dddddd;

}

.navigation-menu .menu-cate ul li {

  border-left: 2px solid #70ba28;

  position: relative;

}

.navigation-menu .menu-cate ul li + li {

  border-color: #04adf0;

}

.navigation-menu .menu-cate ul li + li + li {

  border-color: #efc73a;

}

.navigation-menu .menu-cate ul li + li + li + li {

  border-color: #f6821f;

}

.navigation-menu .menu-cate ul li + li + li + li + li {

  border-color: #f03442;

}

.navigation-menu .menu-cate ul li + li + li + li + li + li {

  border-color: #f034ca;

}

.navigation-menu .menu-cate ul li + li + li + li + li + li {

  border-color: #f034ca;

}

.navigation-menu .menu-cate ul li + li + li + li + li + li + li {

  border-color: #7745bc;

}

.navigation-menu .menu-cate ul li + li + li + li + li + li + li {

  border-color: #42b8d1;

}

.navigation-menu .menu-cate ul li + li + li + li + li + li + li + li {

  border-color: #13528c;

}

.navigation-menu .menu-cate ul li a {

  display: block;

  color: #333333;

  padding: 14px 0 16px 14px;

  font-size: 12px;

  position: relative;

  border-bottom: 1px solid #dddddd;

  font-weight: bold;

}

.navigation-menu .menu-cate ul li a:hover {

  color: #70ba28;

}

.navigation-menu .menu-cate ul li a:hover > span.arrow-menu {

  display: block;

}

.navigation-menu .menu-cate ul li a > span.arrow-menu {

  display: none;

  height: 17px;

  position: absolute;

  right: 15px;

  top: 12px;

  width: 10px;

}

.navigation-menu .menu-cate ul li a > span.arrow-menu i {

  width: 0;

  height: 0;

  background-color: transparent;

  font-size: 11px;

}

.navigation-menu .menu-cate ul li a i {

  font-size: 17px;

  margin-right: 10px;

  text-align: center;

  color: #666666;

  width: 20px;

}

.navigation-menu .menu-cate ul li:hover .sub-menu {

  display: block;

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.navigation-menu .menu-cate ul li:last-child a {

  border-bottom: none;

}

.navigation-menu .menu-cate ul li > .sub-menu {

  background: #ffffff none repeat scroll 0 0;

  position: absolute;

  box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);

  display: none;

  left: 100%;

  top: 0;

  width: 200%;

}

.navigation-menu .menu-cate ul li > .sub-menu ul {

  float: left;

  height: auto;

  padding: 10px;

  position: relative;

  width: 50%;

  border: transparent;

}

.navigation-menu .menu-cate ul li > .sub-menu ul li a {

  border-bottom: medium none;

  font-weight: bold;

  padding: 5px;

  text-transform: uppercase;

  color: #333333;

}

.navigation-menu .menu-cate ul li > .sub-menu ul li a:hover {

  background-color: transparent;

  color: #70ba28;

}

.navigation-menu .menu-cate ul li > .sub-menu ul li ul.subview-menu {

  width: 100%;

  float: none;

  border: none;

}

.navigation-menu .menu-cate ul li > .sub-menu ul li ul.subview-menu li a {

  font-weight: 200;

  text-transform: lowercase;

  color: #666666;

}

.navigation-menu .menu-cate ul li > .sub-menu ul li ul.subview-menu li a::first-letter {

  text-transform: uppercase;

}

.navigation-menu .menu-cate ul li > .sub-menu ul li ul.subview-menu li a:hover {

  color: #70ba28;

  background-color: transparent;

}

.navigation-menu .nav-menu {

  margin-bottom: 0;

  min-height: auto;

  border: none;

}

.navigation-menu .nav-menu .mobile-menu {

  float: left;

}

.navigation-menu .nav-menu .menu li a {

  color: #ffffff;

  height: 100%;

  padding: 16px 30px;

  text-transform: uppercase;

  height: 53px;

  font-size: 14px;

}

.navigation-menu .nav-menu .menu li a:hover {

  color: #70ba28;

}

.navigation-menu .nav-menu .menu li.active a {

  color: #ffffff;

  background-color: #70ba28;

}

.navigation-menu .nav-menu .menu li ul.level1 {

  display: none;

  position: absolute;

  z-index: 99999;

  width: 250px;

  background: #ffffff;

  border: 1px solid #dddddd;

}

.navigation-menu .nav-menu .menu li ul.level1:hover ul.level2 {

  display: block;

}

.navigation-menu .nav-menu .menu li ul.level1 li a {

  background-color: #ffffff;

  border-right: 0 none;

  height: auto;

  padding: 15px;

  border-bottom: 1px dotted #70ba28;

  color: #70ba28;

}

.navigation-menu .nav-menu .menu li ul.level1 li a:hover {

  color: #ff5400;

}

.navigation-menu .nav-menu .menu li ul.level1 li ul.level2 {

  display: none;

  border: 1px solid #dddddd;

}

.navigation-menu .nav-menu .menu li ul.level1 li ul.level2 li a:hover {

  color: #ff5400;

}

.navigation-menu .nav-menu .menu li:hover ul.level1 {

  display: block;

}

.navigation-menu .nav-menu .menu li:hover ul.level1 li a {

  display: block;

}

.navigation-menu .nav-menu .menu li:hover ul.level1 li:hover ul.level2 {

  display: block;

}

.navigation-menu .nav-menu .menu li:hover ul.level1 li ul.level2 {

  display: none;

  position: absolute;

  left: 100%;

  width: 100%;

  top: 0px;

}

.navigation-menu .nav-menu .mini-cart {

  float: right;

  height: 53px;

  line-height: 38px;

  padding: 10px 0;

  position: relative;

}

.navigation-menu .nav-menu .mini-cart a {

  color: #ffffff;

}

.navigation-menu .nav-menu .mini-cart a i {

  font-size: 30px;

  color: #70ba28;

  float: left;

}

.navigation-menu .nav-menu .mini-cart a:hover {

  color: #70ba28;

}

.navigation-menu .nav-menu .mini-cart .cart-list {

  background: #ffffff;

  border-top: solid 1px #aaaaaa;

  border-left: solid 1px #aaaaaa;

  border-right: solid 1px #aaaaaa;

  border-bottom: solid 1px #70ba28;

  position: absolute;

  right: 0;

  top: 50px;

  min-width: 200px;

  z-index: 999;

  padding: 10px;

  display: none;

}

.navigation-menu .nav-menu:hover .cart-list {

  display: block;

}

/*END-CSS:MENU NAVIGATION

==================================================================================================================*/

/*BEGIN-CSS:SLIDESHOW

==================================================================================================================*/

.slideshow-content {

  overflow: hidden;

  max-height: 389px;

}

.slideshow-content img {

  width: 100%;

}

.slideshow-block2 {

  padding: 0 10px;

}

.slideshow-block2 .carousel .carousel-control {

  background-image: none;

}

.slideshow-block3 a {

  display: block;

  max-height: 130px;

  margin-bottom: 10px;

  overflow: hidden;

  padding: 0 10px;

}

.slideshow-block3 a img {

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.slideshow-block3 a img:hover {

  opacity: 0.8;

}

/*END-CSS:SLIDESHOW

==================================================================================================================*/

/*BEGIN-CSS:ADVS

==================================================================================================================*/

.adv-content ul li {

  height: 145px;

  overflow: hidden;

  text-align: center;

  padding: 0 10px;

}

.adv-content ul li a {

  display: block;

  position: relative;

}

.adv-content ul li a img {

  max-height: 100%;

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.adv-content ul li a:after {

  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;

  content: "";

  height: 100%;

  left: 0;

  position: absolute;

  top: 0;

  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -125%, 0px);

  transition: transform 0.8s ease 0s;

  width: 100%;

}

.adv-content ul li a:hover:after {

  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 125%, 0px);

}

.adv-content .controls {

  display: none;

}

.adv-content .controls a {

  top: 35% !important;

}

.adv-content .controls a.next {

  right: 10px;

}

.adv-content .controls a.prev {

  left: 10px;

}

.adv-content:hover .controls {

  display: block;

}

/*END-CSS:ADVS

==================================================================================================================*/

/*BEGIN-CSS:MAIN PRODUCT

==================================================================================================================*/

.main {

  min-height: 450px;

}

/*start tab-category*/

.tab-category-container .tabs-category {

  margin-bottom: 20px;

}

.tab-category-container .tabs-category .tab-content {

  border-bottom: 1px solid #333333;

  border-top: 2px solid #333333;

}

.tab-category-container .tabs-category .tab-content .tabs-title .tab-title h3 {

  float: left;

  font-size: 14px;

  text-transform: uppercase;

  display: inline-block;

  color: #70ba28;

  margin: 0;

  font-weight: 600;

  line-height: 28px;

  padding: 10px 0;

}

.tab-category-container .tabs-category ul.tab-cates {

  float: right;

}

.tab-category-container .tabs-category ul.tab-cates li {

  float: left;

  margin: 15px 0 0 0;

  padding: 0 15px;

  text-transform: capitalize;

  cursor: pointer;

  color: #333333;

  font-size: 14px;

  font-weight: normal;

  border-right: 1px solid #e2e2e2;

}

.tab-category-container .tabs-category ul.tab-cates li.active,

.tab-category-container .tabs-category ul.tab-cates li:hover {

  color: #70ba28;

}

.tab-category-container .tabs-category ul.tab-cates li:last-child {

  border-right: none;

}

/*end tab-category*/

/*start product-content*/

.product-content {

  margin-bottom: 20px;

}

.product-content:hover .controls a {

  display: block;

}

.product-content h1:before {

  background: #333333 none repeat scroll 0 0;

  bottom: 7px;

  content: "";

  height: 2px;

  position: absolute;

  width: 100%;

}

.product-content h1 span {

  background: #ffffff none repeat scroll 0 0;

  color: #70ba28;

  display: inline-block;

  font-size: 18px;

  position: relative;

  margin-right: 10px;

  padding-right: 10px;

}

.product-content .controls a {

  top: 30%;

  display: none;

}

.product-content .controls a.next {

  right: -25px;

}

.product-content .controls a.prev {

  left: -25px;

}

.product-content .product-slide .controls a {

  top: 30%;

}

.product-content .product-slide .controls a.next {

  right: -25px;

}

.product-content .product-slide .controls a.prev {

  left: -25px;

}

.product-content .product-slide:hover .controls a {

  display: block;

}

.product-content .product-filter {

  background-color: transparent;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  border-radius: 0;

  -moz-background-clip: padding;

  -webkit-background-clip: padding-box;

  background-clip: padding-box;

  border-width: 1px;

  padding: 10px;

  margin-bottom: 15px;

}

.product-content .product-filter .display,

.product-content .product-filter .limit {

  float: left;

}

.product-content .product-filter .display {

  margin-right: 10px;

}

.product-content .product-filter .display li {

  float: left;

}

.product-content .product-filter .display li a {

  width: 30px;

  height: 30px;

  text-align: center;

  font-size: 0;

  display: inline-block;

  border: 1px solid #ffffff;

  padding: 5px;

}

.product-content .product-filter .display li a i {

  display: block;

  font-size: 18px;

}

.product-content .product-filter .display li.active a i {

  color: #ff5400;

}

.product-content .product-filter .limit select,

.product-content .product-filter .sort select {

  height: 30px;

}

.product-content .product-filter .sort {

  float: right;

}

.product-content .product-block .product-item-box {

  padding: 10px;

}

.product-content .product-block .product-item-box .product-item {

  background-color: #ffffff;

  padding: 2px;

  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;

  z-index: 9999;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  border-radius: 0;

  position: relative;

}

.product-content .product-block .product-item-box .product-item .shadow {

  background: rgba(0, 0, 0, 0) url("Images/shadow_m.png") no-repeat scroll center bottom / 100% auto;

  bottom: -12px;

  display: block;

  height: 12px;

  position: absolute;

  width: 100%;

  z-index: -1;

}

.product-content .product-block .product-item-box .product-item a {

  color: #333333;

  text-transform: uppercase;

}

.product-content .product-block .product-item-box .product-item .image {

  overflow: hidden;

  position: relative;

}

.product-content .product-block .product-item-box .product-item .image img {

  transition: all 0.2s ease-out 0s;

}

.product-content .product-block .product-item-box .product-item .image:hover img {

  transform: scale(1.1, 1.1);

}

.product-content .product-block .product-item-box .product-item .image .new,

.product-content .product-block .product-item-box .product-item .image .sale,

.product-content .product-block .product-item-box .product-item .image .hot,

.product-content .product-block .product-item-box .product-item .image .promotion {

  display: block;

  text-align: center;

  line-height: 27px;

  padding: 0 10px;

  font-size: 12px;

  font-weight: 700;

  color: #333333;

  text-transform: uppercase;

  position: absolute;

  left: 0;

  top: 0;

  border: 1px solid #333333;

}

.product-content .product-block .product-item-box .product-item .image .sale {

  border-color: #ff5400;

  color: #ff5400;

  right: 0;

  left: auto;

}

.product-content .product-block .product-item-box .product-item .right-block h2.name a,

.product-content .product-block .product-item-box .product-item .right-block h2.name a:visited {

  display: block;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;

  padding: 0 10px;

}

.product-content .product-block .product-item-box .product-item .right-block h2.name a:hover,

.product-content .product-block .product-item-box .product-item .right-block h2.name a:visited:hover {

  color: #ff5400;

}

.product-content .product-block .product-item-box .product-item .right-block .ratings {

  margin-bottom: 10px;

}

.product-content .product-block .product-item-box .product-item .right-block .ratings .rating-box {

  background: rgba(0, 0, 0, 0) url("Images/bkg_rating_hover.png") repeat-x scroll 0 0;

  display: inline-block;

  font-size: 0;

  height: 11px;

  line-height: 0;

  margin-top: 0;

  overflow: hidden;

  text-indent: -999em;

  width: 68px;

}

.product-content .product-block .product-item-box .product-item .right-block .ratings .rating-box .rating {

  background: rgba(0, 0, 0, 0) url("Images/bkg_rating_hover.png") repeat-x scroll 0 100%;

  height: 11px;

  width: 84%;

}

.product-content .product-block .product-item-box .product-item .right-block .price {

  float: left;

  line-height: 1.1em;

  text-align: left;

  margin-top: 15px;

}

.product-content .product-block .product-item-box .product-item .right-block .price .price-old {

  display: block;

  font-size: 13px;

  margin-top: 10px;

  text-decoration: line-through;

  color: #aaaaaa;

}

.product-content .product-block .product-item-box .product-item .right-block .price .price-new {

  display: block;

  color: #70ba28;

  font-size: 20px;

}

.product-content .product-block .product-item-box .product-item .right-block .discountpercent {

  color: #ff5400;

  float: left;

  font-size: 35px;

  line-height: 1.7em;

  margin-left: 10px;

  margin-right: 10px;

}

.product-content .product-block .product-item-box .product-item .right-block .button_more {

  float: right;

}

.product-content .product-block .product-item-box .product-item .right-block .button_more i {

  background-color: #70ba28;

  border-radius: 20px;

  color: #ffffff;

  font-size: 22px;

  height: 30px;

  line-height: 30px;

  margin-top: 20px;

  text-align: center;

  width: 30px;

}

.product-content .product-block .product-item-box .product-item .right-block .button_more i:hover {

  background-color: #ff5400;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner {

  margin-top: 10px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul {

  float: left;

  margin-left: 0;

  width: 100%;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li {

  border: 1px solid #ffffff;

  float: left;

  height: 60px;

  margin-bottom: 0;

  margin-left: -1px;

  text-align: center;

  width: calc(33.33333333%);

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a {

  display: block;

  height: 100%;

  transition: all 0.3s ease-in-out 0s;

  width: 100%;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a.add-compare {

  background: #ffffff url("Images/action-llist.png") no-repeat scroll center -96px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a.add-compare:hover {

  background-position: center -145px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a.add-cart {

  background: #ffffff url("Images/action-llist.png") no-repeat scroll center -292px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a.add-cart:hover {

  background-position: center -341px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a.add-wishlist {

  background: #ffffff url("Images/action-llist.png") no-repeat scroll center 5px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a.add-wishlist:hover {

  background-position: center -44px;

}

.product-content .product-block .product-item-box .product-item .right-block .box-inner ul li a:hover {

  background-color: #70ba28 !important;

}

.product-content .product-block .product-item-box .product-item .right-block .addtocart-button {

  margin-top: 20px;

}

.product-content .product-block .product-item-box .product-item .right-block .addtocart-button .add-to-cart {

  background: url(Images/btn-cart.png) no-repeat 10px center;

  border: 1px solid #70ba28;

  line-height: 28px;

  padding: 14px 17px 11px 36px;

  color: #70ba28;

  text-transform: none;

  border-radius: 4px;

}

.product-content .product-block .product-item-box .product-item .right-block .addtocart-button .add-to-cart:hover {

  background-color: #70ba28;

  color: #ffffff;

  background-image: url(Images/btn-cart-hover.png);

}

.product-content .product-block .product-item-box .product-item:hover .box-inner a {

  background-color: #aaaaaa !important;

}

.product-content .product-block .product-item-box .product-item:hover .box-inner a.add-cart {

  background-position: center -341px !important;

}

.product-content .product-block .product-item-box .product-item:hover .box-inner a.add-compare {

  background-position: center -145px !important;

}

.product-content .product-block .product-item-box .product-item:hover .box-inner a.add-wishlist {

  background-position: center -44px !important;

}

.product-content .product-block .product-item-box .product-item:hover .view-more {

  left: 0;

}

.product-content .product-block .product-item-box .product-item:hover .hover-image {

  bottom: 0;

}

.product-content .product-grid {

  text-align: center;

}

.product-content .product-list {

  text-align: left;

}

.product-content .product-list .image {

  padding-left: 0;

}

.product-content .product-list .discountpercent {

  margin-left: 0 !important;

}

.product-content .product-tab-slide,

.product-content .product-slide {

  position: relative;

}

/*end product-content*/

/*END-CSS:MAIN PRODUCT

==================================================================================================================*/

/*BEGIN-CSS:PARTNER

==================================================================================================================*/

.policy-content .sale-policy-block {

  margin-top: 20px;

  background-color: #70ba28;

  padding: 20px;

  font-size: 15px;

  text-transform: uppercase;

  color: #ffffff;

}

.policy-content .sale-policy-block i {

  float: left;

  font-size: 37px;

  line-height: 48px;

  margin-right: 10px;

}

.partner-content {

  text-align: center;

  margin-bottom: 20px;

  height: 60px;

}

.partner-content img:hover {

  opacity: 0.8;

}

.partner-content .partner-item {

  height: 65px;

  text-align: center;

  display: table-cell;

  vertical-align: middle;

}

.partner-content .partner-item img {

  max-height: 100%;

  width: auto;

}

.partner-content h3 {

  font-size: 16px;

  margin-top: 0;

  text-transform: uppercase;

  margin-bottom: 10px;

  color: #4d4d4d;

  font-weight: bold;

}

.partner-content .controls a {

  top: 0;

  display: none;

}

.partner-content .controls a.prev {

  left: -25px;

}

.partner-content .controls a.next {

  right: -25px;

}

.partner-content:hover .controls a {

  display: block;

}

.static-banner {

  margin-bottom: 20px;

}

.static-banner a {

  display: inline-block;

  position: relative;

  width: 100%;

}

.static-banner a:after {

  background-color: rgba(255, 255, 255, 0.4);

  content: "";

  height: 100%;

  left: 0;

  position: absolute;

  top: 0;

  transition: none 0s ease 0s;

  width: 0;

}

.static-banner a:hover:after {

  background-color: transparent;

  transition: all 1.3s ease-out 0s;

  width: 100%;

}

.static-banner img {

  width: 100%;

}

/*END-CSS:PARTNER

==================================================================================================================*/

/*START-CSS:FOOTER

==================================================================================================================*/

.footer {

  margin-top: 20px;

  background-color: #333333;

}

.footer .footer-top {

  background-color: #404040;

  padding: 15px 15px 0;

}

.footer .footer-top .hotline {

  color: #ffffff;

  font-size: 22px;

}

.footer .footer-top .box-social {

  background: url(Images/footer-contact-sp.png) no-repeat right center;

}

.footer .footer-top .button-contact {

  text-align: center;

}

.footer .footer-top .button-contact a {

  background-color: #ff5400;

}

.footer .footer-top .button-contact a:hover {

  background-color: #70ba28;

}

.footer .footer-box h3 {

  margin-bottom: 20px;

  color: #ffffff;

  font-size: 16px;

  text-transform: uppercase;

}

.footer .footer-box ul li {

  color: #aaaaaa;

  margin-left: 10px;

  list-style: url(Images/i_block-list.gif);

}

.footer .footer-box ul li a {

  color: #c3c3c3;

  padding: 10px 0 10px 10px;

  display: block;

}

.footer .footer-box ul li a:hover {

  color: #ff5400;

  padding-left: 16px;

}

.footer .footer-box.box-address {

  background-color: #70ba28;

  margin-top: -70px;

  min-height: 370px;

  padding: 30px 15px;

}

.footer .footer-box.box-address .box-address-content {

  margin-top: 20px;

  line-height: 30px;

  color: #ffffff;

}

.footer .footer-box.box-address .box-address-content a {

  color: #bde893;

}

.footer .footer-box.box-address .box-address-content a:hover {

  color: #ff5400;

}

.footer .footer-box.box-social .social-icon ul li {

  list-style: none;

  float: left;

  margin-left: 0;

  margin-right: 10px;

}

.footer .footer-box.box-social .social-icon ul li a {

  border-radius: 93px;

  color: #70ba28;

  font-size: 20px;

  height: 40px;

  line-height: 40px;

  padding: 0 12px;

  text-align: center;

  width: 40px;

  border: 1px solid #70ba28;

}

.footer .footer-box.box-social .social-icon ul li a:hover {

  background-color: #ffffff;

  color: #70ba28;

}

.footer .footer-bottom {

  padding: 15px;

  text-align: center;

  color: #333333;

  background-color: #ffffff;

}

.footer .footer-bottom a {

  color: #ff5400;

}

.footer .footer-bottom a:hover {

  color: #70ba28;

}

/*END-CSS:FOOTER

==================================================================================================================*/

/*START-CSS:BOX STYLE

==================================================================================================================*/

/*MENU PRODUCT*/

.menu-product {

  margin-bottom: 20px;

}

.menu-product h3 {

  text-transform: uppercase;

  margin-top: 0;

  background-color: #333333;

  border-left: 5px solid #70ba28;

}

.menu-product h3 span {

  color: #fff;

  display: inline-block;

  font-size: 17px;

  line-height: 40px;

  padding: 0 40px 0 10px;

  position: relative;

  text-transform: uppercase;

}

.menu-product ul {

  list-style: none;

  display: block;

  border: 1px solid #dddddd;

  position: relative;

}

.menu-product ul li {

  position: relative;

  margin: 0;

  padding: 0;

}

.menu-product ul li a {

  padding: 15px 12px;

  margin: 0 7px;

  color: #777777;

  text-decoration: none;

  cursor: pointer;

  font-weight: 500;

  text-transform: uppercase;

  display: inline-block;

  border-bottom: 1px dashed #dddddd;

  display: block;

}

.menu-product ul li a:hover {

  color: #70ba28;

}

.menu-product ul li .open-close {

  position: absolute;

  right: 10px;

  text-align: center;

  top: 10px;

  width: 20px;

  cursor: pointer;

}

.menu-product ul li .open-close i {

  color: #aaaaaa;

  margin-right: 0;

  line-height: 18px;

  font-size: 18px;

}

.menu-product ul li .open-close i:hover {

  color: #70ba28;

}

.menu-product ul li ul {

  border: none;

  display: none;

}

.menu-product ul li ul:before,

.menu-product ul li ul:after {

  content: none;

}

.menu-product ul li ul li {

  background-color: #ffffff;

}

.menu-product ul li ul li a {

  padding-left: 25px;

  border-bottom: none;

}

.menu-product ul li ul li ul {

  display: block;

}

.menu-product ul li ul li ul li a {

  padding-left: 40px;

}

.menu-product ul li ul li ul li.active a {

  color: #70ba28;

}

/*menu*/

.menu-news {

  margin-bottom: 30px;

}

.menu-news h3 {

  text-transform: uppercase;

  margin-top: 0;

  background-color: #333333;

  border-left: 5px solid #70ba28;

}

.menu-news h3 span {

  color: #fff;

  display: inline-block;

  font-size: 17px;

  line-height: 40px;

  padding: 0 40px 0 10px;

  position: relative;

  text-transform: uppercase;

}

.menu-news ul {

  list-style: none;

  display: block;

  border: 1px solid #dddddd;

  position: relative;

}

.menu-news ul:before {

  background-color: #ffffff;

  border: 1px solid #dddddd;

  border-bottom-left-radius: 4px;

  border-bottom-right-radius: 4px;

  bottom: -9px;

  content: "";

  display: block;

  height: 5px;

  left: 10px;

  position: absolute;

  right: 10px;

}

.menu-news ul:after {

  background-color: #ffffff;

  border: 1px solid #dddddd;

  border-bottom-left-radius: 4px;

  border-bottom-right-radius: 4px;

  bottom: -5px;

  content: "";

  display: block;

  height: 5px;

  left: 5px;

  position: absolute;

  right: 5px;

}

.menu-news ul li {

  position: relative;

  margin: 0;

  padding: 0;

}

.menu-news ul li a {

  padding: 15px 12px;

  margin: 0 7px;

  color: #777777;

  text-decoration: none;

  cursor: pointer;

  font-weight: 500;

  text-transform: uppercase;

  display: inline-block;

  border-bottom: 1px dashed #dddddd;

  display: block;

}

.menu-news ul li a:hover {

  color: #70ba28;

}

.menu-news ul li .open-close {

  position: absolute;

  right: 10px;

  text-align: center;

  top: 10px;

  width: 20px;

  cursor: pointer;

}

.menu-news ul li .open-close i {

  color: #aaaaaa;

  margin-right: 0;

  line-height: 22px;

  font-size: 18px;

}

.menu-news ul li .open-close i:hover {

  color: #70ba28;

}

.menu-news ul li ul {

  border: none;

  /*display: none;*/

}

.menu-news ul li ul:before,

.menu-news ul li ul:after {

  content: none;

}

.menu-news ul li ul li {

  background-color: #ffffff;

}

.menu-news ul li ul li a {

  border-bottom: none;

  padding: 10px 10px 10px 25px;

}

.menu-about,

.menu-logined,

.menu-account,

.box-news,

.box-counter,

.box-price-gold,

.box-exchange,

.box-weather,

.box-html,

.box-adv,

.box-video,

.box-sale-policy,

.box-support-online,

.box-product {

  margin-bottom: 20px;

}

.menu-about h3,

.menu-logined h3,

.menu-account h3,

.box-news h3,

.box-counter h3,

.box-price-gold h3,

.box-exchange h3,

.box-weather h3,

.box-html h3,

.box-adv h3,

.box-video h3,

.box-sale-policy h3,

.box-support-online h3,

.box-product h3 {

  text-transform: uppercase;

  margin-top: 0;

  background-color: #333333;

  border-left: 5px solid #70ba28;

}

.menu-about h3 span,

.menu-logined h3 span,

.menu-account h3 span,

.box-news h3 span,

.box-counter h3 span,

.box-price-gold h3 span,

.box-exchange h3 span,

.box-weather h3 span,

.box-html h3 span,

.box-adv h3 span,

.box-video h3 span,

.box-sale-policy h3 span,

.box-support-online h3 span,

.box-product h3 span {

  color: #fff;

  display: inline-block;

  font-size: 17px;

  line-height: 40px;

  padding: 0 40px 0 10px;

  position: relative;

  text-transform: uppercase;

}

.menu-about ul,

.menu-logined ul,

.menu-account ul,

.box-news ul,

.box-counter ul,

.box-price-gold ul,

.box-exchange ul,

.box-weather ul,

.box-html ul,

.box-adv ul,

.box-video ul,

.box-sale-policy ul,

.box-support-online ul,

.box-product ul {

  padding: 10px;

  border: 1px solid #e5e5e5;

}

.menu-about ul li a,

.menu-logined ul li a,

.menu-account ul li a,

.box-news ul li a,

.box-counter ul li a,

.box-price-gold ul li a,

.box-exchange ul li a,

.box-weather ul li a,

.box-html ul li a,

.box-adv ul li a,

.box-video ul li a,

.box-sale-policy ul li a,

.box-support-online ul li a,

.box-product ul li a,

.menu-about ul li a:visited,

.menu-logined ul li a:visited,

.menu-account ul li a:visited,

.box-news ul li a:visited,

.box-counter ul li a:visited,

.box-price-gold ul li a:visited,

.box-exchange ul li a:visited,

.box-weather ul li a:visited,

.box-html ul li a:visited,

.box-adv ul li a:visited,

.box-video ul li a:visited,

.box-sale-policy ul li a:visited,

.box-support-online ul li a:visited,

.box-product ul li a:visited {

  color: #666666;

  font-weight: normal;

  border-bottom: 1px solid #c3c3c3;

  display: block;

  position: relative;

  padding: 10px 15px;

}

.menu-about ul li a:hover,

.menu-logined ul li a:hover,

.menu-account ul li a:hover,

.box-news ul li a:hover,

.box-counter ul li a:hover,

.box-price-gold ul li a:hover,

.box-exchange ul li a:hover,

.box-weather ul li a:hover,

.box-html ul li a:hover,

.box-adv ul li a:hover,

.box-video ul li a:hover,

.box-sale-policy ul li a:hover,

.box-support-online ul li a:hover,

.box-product ul li a:hover,

.menu-about ul li a:visited:hover,

.menu-logined ul li a:visited:hover,

.menu-account ul li a:visited:hover,

.box-news ul li a:visited:hover,

.box-counter ul li a:visited:hover,

.box-price-gold ul li a:visited:hover,

.box-exchange ul li a:visited:hover,

.box-weather ul li a:visited:hover,

.box-html ul li a:visited:hover,

.box-adv ul li a:visited:hover,

.box-video ul li a:visited:hover,

.box-sale-policy ul li a:visited:hover,

.box-support-online ul li a:visited:hover,

.box-product ul li a:visited:hover {

  color: #70ba28;

}

.menu-about ul li a:before,

.menu-logined ul li a:before,

.menu-account ul li a:before,

.box-news ul li a:before,

.box-counter ul li a:before,

.box-price-gold ul li a:before,

.box-exchange ul li a:before,

.box-weather ul li a:before,

.box-html ul li a:before,

.box-adv ul li a:before,

.box-video ul li a:before,

.box-sale-policy ul li a:before,

.box-support-online ul li a:before,

.box-product ul li a:before,

.menu-about ul li a:visited:before,

.menu-logined ul li a:visited:before,

.menu-account ul li a:visited:before,

.box-news ul li a:visited:before,

.box-counter ul li a:visited:before,

.box-price-gold ul li a:visited:before,

.box-exchange ul li a:visited:before,

.box-weather ul li a:visited:before,

.box-html ul li a:visited:before,

.box-adv ul li a:visited:before,

.box-video ul li a:visited:before,

.box-sale-policy ul li a:visited:before,

.box-support-online ul li a:visited:before,

.box-product ul li a:visited:before {

  color: #999999;

  content: "\f101";

  font-family: FontAwesome;

  font-size: 14px;

  position: absolute;

  left: 0;

  top: 9px;

  font-weight: normal;

}

.menu-about ul li:last-child a,

.menu-logined ul li:last-child a,

.menu-account ul li:last-child a,

.box-news ul li:last-child a,

.box-counter ul li:last-child a,

.box-price-gold ul li:last-child a,

.box-exchange ul li:last-child a,

.box-weather ul li:last-child a,

.box-html ul li:last-child a,

.box-adv ul li:last-child a,

.box-video ul li:last-child a,

.box-sale-policy ul li:last-child a,

.box-support-online ul li:last-child a,

.box-product ul li:last-child a {

  border-bottom: none;

}

.menu-about ul li.active a,

.menu-logined ul li.active a,

.menu-account ul li.active a,

.box-news ul li.active a,

.box-counter ul li.active a,

.box-price-gold ul li.active a,

.box-exchange ul li.active a,

.box-weather ul li.active a,

.box-html ul li.active a,

.box-adv ul li.active a,

.box-video ul li.active a,

.box-sale-policy ul li.active a,

.box-support-online ul li.active a,

.box-product ul li.active a {

  color: #70ba28;

}

.menu-logined ul li a,

.menu-account ul li a {

  padding-left: 0;

}

.menu-logined ul li a:before,

.menu-account ul li a:before {

  content: none;

}

/*box-module*/

.box-cart {

  margin-bottom: 20px;

  background: #ffffff none repeat scroll 0 0;

}

.box-cart h3 {

  text-transform: uppercase;

  margin-top: 0;

  background-color: #333333;

  border-left: 5px solid #70ba28;

}

.box-cart h3 span {

  color: #fff;

  display: inline-block;

  font-size: 17px;

  line-height: 40px;

  padding: 0 40px 0 10px;

  position: relative;

  text-transform: uppercase;

}

.box-cart .box-cart-block {

  border: 1px solid #dddddd;

}

.box-cart .box-cart-block .docs {

  margin-bottom: 5px;

}

.box-cart .box-cart-block .cart-empty {

  padding: 10px;

}

.box-cart .box-cart-block .cart-empty a {

  color: #70ba28;

}

.box-cart .box-cart-block .cart-empty a:hover {

  color: #ff5400;

}

.box-cart .box-cart-block .cart-item .total {

  padding: 10px;

  background-color: #f6f6f6;

}

.box-cart .box-cart-block .cart-item .total a {

  color: #70ba28;

}

.box-cart .box-cart-block .cart-item .total a:hover {

  color: #333333;

}

.box-cart .box-cart-block ul li {

  position: relative;

  padding: 5px 0;

  border-bottom: 1px dotted #aaaaaa;

}

.box-cart .box-cart-block ul li .image {

  float: left;

  width: 60px;

  padding: 0 5px;

}

.box-cart .box-cart-block ul li .name {

  float: left;

  margin-right: 10px;

}

.box-cart .box-cart-block ul li .name a {

  color: #333333;

  font-weight: bold;

}

.box-cart .box-cart-block ul li .name a:hover {

  color: #70ba28;

}

.box-cart .box-cart-block ul .remove_link {

  float: right;

  margin-top: 5px;

}

.box-cart .box-cart-block ul .remove_link i {

  color: #ff5400;

  font-size: 16px;

}

.box-cart .box-cart-block ul .remove_link:hover i {

  color: #70ba28;

}

.box-cart .box-cart-block .cart-payment .amount {

  padding: 10px;

  font-weight: bold;

  border-bottom: 1px dotted #c3c3c3;

}

.box-cart .box-cart-block .cart-payment .amount strong {

  float: right;

  font-size: 16px;

  color: #70ba28;

}

.box-cart .box-cart-block .cart-payment .btn-payment {

  padding: 10px;

  text-align: center;

}

.box-cart .box-cart-block .cart-payment .btn-payment .btn {

  margin-bottom: 0;

}

.box-counter ul,

.box-price-gold ul,

.box-exchange ul,

.box-weather ul,

.box-html ul,

.box-adv ul,

.box-video ul {

  padding: 10px;

}

.box-counter ul li a,

.box-price-gold ul li a,

.box-exchange ul li a,

.box-weather ul li a,

.box-html ul li a,

.box-adv ul li a,

.box-video ul li a {

  padding-left: 0;

}

.box-counter ul li a i,

.box-price-gold ul li a i,

.box-exchange ul li a i,

.box-weather ul li a i,

.box-html ul li a i,

.box-adv ul li a i,

.box-video ul li a i {

  font-size: 14px;

  width: 20px;

}

.box-counter ul li a:before,

.box-price-gold ul li a:before,

.box-exchange ul li a:before,

.box-weather ul li a:before,

.box-html ul li a:before,

.box-adv ul li a:before,

.box-video ul li a:before {

  content: none;

}

.box-counter ul li {

  margin-bottom: 5px;

}

.box-counter ul li i {

  font-size: 16px;

  color: #b3b3b3;

  text-align: center;

  width: 15px;

  margin-right: 10px;

}

.box-counter ul li b {

  float: right;

  width: 50%;

}

.box-exchange,

.box-price-gold,

.box-video {

  line-height: 10px;

  border: none;

}

.box-exchange table,

.box-price-gold table,

.box-video table {

  margin-bottom: 0;

}

.box-exchange p,

.box-price-gold p,

.box-video p {

  font-size: 11px;

  margin-bottom: 5px;

}

.box-exchange i,

.box-price-gold i,

.box-video i {

  font-size: 11px;

}

.box-adv .boxprevnext a {

  background-color: transparent !important;

  opacity: 1 !important;

  padding: 0 !important;

  right: -10px !important;

  top: -32px !important;

  border: none;

  box-shadow: none;

  color: #aaaaaa;

  font-size: 20px;

}

.box-adv .boxprevnext a.prev {

  left: auto !important;

  right: 10px !important;

}

.box-adv .boxprevnext a:hover {

  color: #70ba28 !important;

}

.box-static_banner {

  margin-bottom: 20px;

}

.box-static_banner a img {

  width: 100%;

}

.weather-block,

.html-block,

.adv-block {

  padding: 10px;

  border: 1px solid #e5e5e5;

}

.adv-block {

  text-align: center;

}

.adv-block .adv-item {

  margin-bottom: 10px;

}

.weather-block .weather-icon {

  width: 30%;

  float: left;

  margin-right: 2%;

}

.weather-block .weather-desc {

  width: 65%;

  float: right;

}

.weather-block .weather-desc strong,

.weather-block .weather-desc span {

  display: block;

}

.weather-block .weather-desc strong {

  font-size: 24px;

}

.weather-block p {

  margin-bottom: 5px;

}

/*END-CSS:BOX STYLE

==================================================================================================================*/

/*START-CSS:NEWS

==================================================================================================================*/

.news-content {

  margin-bottom: 20px;

}

.news-content .news-block .news-item {

  margin-bottom: 15px;

  border-bottom: 1px solid #f6f6f6;

}

.news-content .news-block .news-item:last-child {

  border-bottom: none;

}

.news-content .news-block .image {

  border: 1px solid #ffffff;

  float: left;

  height: 145px;

  min-height: 130px;

  overflow: hidden;

  padding: 2px;

  margin-bottom: 10px;

  text-align: center;

}

.news-content .news-block .image a {

  display: block;

  height: 100%;

  overflow: hidden;

}

.news-content .news-block .image a img {

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

  transform: scale(1);

}

.news-content .news-block .image a img:hover {

  transform: scale(1.2);

}

.news-content .news-info h2.name {

  margin-top: 0;

  margin-bottom: 5px;

}

.news-content .news-info h2.name a {

  font-size: 15px;

  color: #333333;

  text-transform: uppercase;

  font-weight: bold;

}

.news-content .news-info h2.name a:hover {

  color: #70ba28;

}

.news-content .news-info .date {

  font-style: italic;

  margin-bottom: 10px;

  color: #aaaaaa;

  font-size: 11px;

}

.news-content .news-info .desc {

  color: #4d4d4d;

  line-height: 25px;

}

.box-news .news-content {

  padding: 10px;

  border: 1px solid #dddddd;

}

.box-news .news-content .news-block .news-item {

  padding-bottom: 10px;

}

.box-news .news-content .news-block .image {

  border: medium none;

  height: 60px;

  min-height: 50px;

  padding: 0;

}

.box-news .news-content .news-info h2.name a {

  font-size: 12px;

  color: #333333;

  font-weight: bold;

}

.box-news .news-content .news-info .desc {

  font-size: 11px;

  line-height: 14px;

  color: #666666;

}

/*START-CSS:NEWS

==================================================================================================================*/

/*START-CSS:NEW-DETAIL

==================================================================================================================*/

.news-detail .news-block,

.about-detail .news-block,

.news-detail .about-block,

.about-detail .about-block {

  margin-bottom: 15px;

}

.news-detail .news-block .date,

.about-detail .news-block .date,

.news-detail .about-block .date,

.about-detail .about-block .date {

  font-style: italic;

  color: #666666;

  margin-bottom: 10px;

}

.news-detail .news-block .content,

.about-detail .news-block .content,

.news-detail .about-block .content,

.about-detail .about-block .content {

  line-height: 30px;

}

.news-detail .news-other h3,

.about-detail .news-other h3 {

  color: #70ba28;

  font-size: 14px;

  font-weight: bold;

  text-transform: uppercase;

  margin-bottom: 10px;

}

.news-detail .news-other ul li a,

.about-detail .news-other ul li a {

  color: #666666;

  display: block;

  position: relative;

  padding: 10px;

}

.news-detail .news-other ul li a:hover,

.about-detail .news-other ul li a:hover {

  color: #70ba28;

}

.news-detail .news-other ul li a:before,

.about-detail .news-other ul li a:before {

  color: #999999;

  content: "";

  font-family: FontAwesome;

  font-size: 14px;

  position: absolute;

  left: 0;

  top: 7px;

  font-weight: normal;

}

/*START-CSS:NEW-DETAIL

==================================================================================================================*/

/*START-CSS:CONTACT

==================================================================================================================*/

.contact-content .map,

.contact-content .contact-info,

.contact-content .contact-feedback {

  margin-bottom: 15px;

}

.contact-content .contact-info {

  padding-left: 0;

}

.contact-content .contact-info .docs {

  margin-bottom: 10px;

}

.contact-content .contact-info .name {

  text-transform: uppercase;

  margin-bottom: 15px;

  font-size: 14px;

}

.contact-content .contact-info a {

  color: #70ba28;

}

.contact-content .contact-info a:hover {

  color: #333333;

}

.contact-content .contact-info i {

  font-size: 16px;

  text-align: center;

  width: 16px;

}

.contact-content h3.title {

  text-transform: uppercase;

  margin-bottom: 10px;

  font-size: 14px;

  color: #70ba28;

  font-weight: bold;

}

.contact-content .description {

  margin: 15px 0;

}

.contact-content hr {

  margin: 15px 0;

}

.contact-content .map {

  border: 1px solid #eaeaea;

  border-bottom-left-radius: 5px;

  border-bottom-right-radius: 5px;

}

.contact-content .map .map-canvas {

  height: 320px;

  overflow: hidden;

}

.contact-content .map .map-information ul {

  padding: 10px 25px;

  background-color: #ffffff;

  list-style: decimal;

  border-top: 1px solid #f6f6f6;

}

.contact-content .map .map-information ul li {

  float: left;

  margin-right: 30px;

}

.contact-content .map .map-information ul li a {

  color: #70ba28;

}

.contact-content .map .map-information ul li a:hover {

  color: #333333;

}

.contact-content .map .title {

  text-transform: uppercase;

  margin-bottom: 10px;

  font-size: 14px;

  color: #70ba28;

}

.box-support-online .support-online-block {

  padding: 10px;

  border: 1px solid #e5e5e5;

}

.box-support-online .support-online-block .support-hotline {

  font-size: 16px;

  text-align: center;

  font-weight: bold;

}

.box-support-online .support-online-block .support-hotline span {

  color: #70ba28;

  font-size: 20px;

}

.box-support-online .support-online-block .support-item {

  padding: 10px 0;

  text-align: center;

}

.box-support-online .support-online-block .support-item .name {

  margin-bottom: 10px;

  font-size: 18px;

}

.box-support-online .support-online-block .support-item .name b {

  color: #70ba28;

}

.box-support-online .support-online-block .support-item ul {

  border: none;

}

.box-support-online .support-online-block .support-item ul li {

  border-bottom: 1px solid #eee;

  display: block;

  padding: 10px 0 !important;

  position: relative;

}

.box-support-online .support-online-block .support-item ul li.social {

  text-align: left;

}

.box-support-online .support-online-block .support-item ul li.social img {

  width: 50px;

  height: 50px;

}

.box-support-online .support-online-block .support-item ul li a {

  padding: 0 5px;

  display: inline-block;

  border: none;

}

.box-support-online .support-online-block .support-item ul li a:before {

  content: none;

}

.box-support-online .support-online-block .support-item ul li .phone {

  font-size: 18px;

  font-weight: bold;

}

/*START-CSS:CONTACT

==================================================================================================================*/

/*START-CSS:NAVIGATION

==================================================================================================================*/

.navigation {

  display: block;

  text-align: center;

}

.navigation .pagination {

  margin-bottom: 20px;

}

/*END-CSS:NAVIGATION

==================================================================================================================*/

/*START-CSS: ACCOUNT-CONTENT

==================================================================================================================*/

/*login*/

.account-content {

  margin-bottom: 20px;

}

.account-content .checkbox {

  line-height: 25px;

}

.account-content .checkbox input[type='checkbox'] {

  height: auto;

}

.account-content .help-block,

.account-content .warning {

  color: #f70000;

}

.account-content .warning {

  padding-left: 5px;

}

.account-content a {

  color: #70ba28;

}

.account-content a:hover {

  color: #333333;

}

.account-content h2 {

  text-transform: uppercase;

  color: #70ba28;

  border-bottom: 1px dotted #aaaaaa;

  padding-bottom: 5px;

  font-weight: bold;

}

.register h2 {

  color: #70ba28;

  font-weight: bold;

  text-transform: uppercase;

  padding: 15px 0;

  border-bottom: 1px dotted #c3c3c3;

  margin-bottom: 20px;

}

.img-captcha {

  width: 140px;

}

/*register*/

/*END-CSS:LOGIN ACCOUNT-CONTENT

==================================================================================================================*/

/*START-CSS:OPEN CART CONTENT

==================================================================================================================*/

.steps {

  margin-bottom: 20px;

  text-align: center;

}

.steps li {

  margin-bottom: 5px;

  float: left;

  text-align: center;

  text-transform: uppercase;

  font-size: 15px;

  border-bottom: 2px solid #aaaaaa;

  padding-bottom: 15px;

  margin-bottom: 15px;

  position: relative;

}

.steps li span {

  display: block;

  color: #aaaaaa;

  padding: 5px 0;

}

.steps li span i {

  font-size: 20px;

}

.steps li span.step-number {

  display: block;

  text-align: center;

  left: 0;

  position: absolute;

  z-index: 9999;

  font-weight: bold;

  width: 100%;

}

.steps li span.step-number a {

  padding: 3px 8px;

  background-color: #d0d0d0;

  border: 1px solid #aaaaaa;

  color: #ffffff;

  border-radius: 20px;

}

.steps li:last-child {

  border-right: none;

}

.steps li.active {

  border-bottom-color: #70ba28;

}

.steps li.active span {

  color: #70ba28;

}

.steps li.active span.step-number a {

  border-color: #57901f;

  color: #ffffff;

  background-color: #70ba28;

}

.cart-content .cart-block {

  margin-bottom: 20px;

}

.cart-content .cart-block table.product-list thead {

  background-color: #f6f6f6;

}

.cart-content .cart-block table.product-list tbody .remove {

  text-align: center;

}

.cart-content .cart-block table.product-list tbody .remove a {

  color: #ff5400;

  font-size: 16px;

}

.cart-content .cart-block table.product-list tbody .remove a:hover {

  color: #70ba28;

}

.cart-content .cart-block table.product-list tbody .image {

  vertical-align: middle;

  text-align: center;

}

.cart-content .cart-block table.product-list tbody .image img {

  height: 60px;

  width: auto;

}

.cart-content .cart-block table.product-list tbody .price,

.cart-content .cart-block table.product-list tbody .amount {

  color: #70ba28;

}

.cart-content .cart-block table.product-list tbody .quantity {

  text-align: center;

}

.cart-content .cart-block table.product-list tbody .quantity input {

  float: left;

  height: 36px;

  line-height: 36px;

  text-align: center;

  width: 60px;

}

.cart-content .cart-block table.product-list tbody .quantity a {

  margin-top: 0;

  border: 1px solid #dddddd;

  border-radius: 0;

  color: #c0c0c0;

  font-size: 14px;

  line-height: 26px;

  padding: 0;

  float: left;

}

.cart-content .cart-block table.product-list tbody .quantity a span {

  background-color: #f6f6f6;

  border: 1px solid #ffffff;

  display: block;

  height: 34px;

  padding: 9px 0 0;

  text-align: center;

  vertical-align: middle;

  width: 30px;

}

.cart-content .cart-block table.product-list tbody .quantity a span:hover {

  background-color: #70ba28;

}

.cart-content .cart-block table.product-list tbody .quantity a span:hover i {

  color: #ffffff;

}

.cart-content .cart-block table.product-list tbody .quantity a span i {

  color: #aaaaaa;

}

.cart-content .cart-block table.product-list tfoot .form-group input {

  width: 100%;

  margin-bottom: 15px;

}

.cart-content .cart-block .pay-price {

  font-size: 24px;

  color: #70ba28;

  margin-left: 20px;

}

.cart-content .cart-block .pay-price a {

  font-size: 12px;

}

/*END-CSS:OPEN CART CONTENT

==================================================================================================================*/

/*START-CSS:PAYMENT CONTENT

==================================================================================================================*/

.payment-content {

  margin-bottom: 15px;

}

.payment-content h3 {

  color: #ff5400;

  font-size: 16px;

}

.payment-content .hotline {

  font-size: 16px;

}

.payment-content .payment-block {

  margin-bottom: 15px;

}

.payment-content .payment-block .payment-step {

  padding: 0 2px;

}

.payment-content .payment-block .payment-step h4 {

  margin-top: 0;

  padding: 10px;

  background-color: #70ba28;

  font-size: 14px;

  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 0;

}

.payment-content .payment-block .payment-step .step-preview {

  background-color: #ffffff;

  padding: 10px;

  min-height: 580px;

  border: 1px solid #dddddd;

}

.payment-content .payment-block .payment-step .step-preview .user-login {

  margin-bottom: 15px;

}

.payment-content .payment-block .payment-step .step-preview .user-login a {

  color: #ff5400;

}

.payment-content .payment-block .payment-step .step-preview .user-login a:first-child {

  margin-right: 5px;

  padding-right: 5px;

  border-right: 1px solid #aaaaaa;

}

.payment-content .payment-block .payment-step .step-preview .user-login a:hover {

  color: #70ba28;

}

.payment-content .payment-block .payment-step .step-preview .info-user {

  position: relative;

  line-height: 24px;

}

.payment-content .payment-block .payment-step .step-preview .info-user label {

  display: block;

  font-weight: normal;

}

.payment-content .payment-block .payment-step .step-preview .info-user label span {

  font-weight: 600;

  margin-left: 10px;

}

.payment-content .payment-block .payment-step .step-preview .info-user .edit-button {

  position: absolute;

  top: 0;

  right: 0;

}

.payment-content .payment-block .payment-step .step-preview .info-user .edit-button i {

  font-size: 18px;

  color: #ff5400;

}

.payment-content .payment-block .payment-step .step-preview .info-user .edit-button i:hover {

  color: #70ba28;

}

.payment-content .payment-block .payment-step .step-preview .total {

  font-size: 14px;

}

.payment-content .payment-block .payment-step .step-preview .total .total-payment {

  color: #70ba28;

  font-size: 16px;

}

.payment-content .payment-block .payment-step .step-preview .form-group input {

  width: 100%;

  margin-bottom: 5px;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item {

  padding: 5px 0;

  border-bottom: 1px solid #eaeaea;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .image img {

  height: 60px;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .product-name a {

  color: #333333;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .product-name a:hover {

  color: #70ba28;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item .price {

  float: right;

  line-height: 60px;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .cart-items .cart-item:first-child {

  padding-top: 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-price,

.payment-content .payment-block .payment-step .step-preview .cart-info .shiping-price {

  font-weight: 600;

  padding: 10px 0;

  border-bottom: 1px solid #eaeaea;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-price label,

.payment-content .payment-block .payment-step .step-preview .cart-info .shiping-price label {

  float: right;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .shiping-price {

  padding: 10px 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .btn-coupon {

  border-bottom: 1px solid #eaeaea;

  padding: 10px 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .btn-coupon .btn {

  width: 100%;

  margin-bottom: 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .use-coupon {

  text-align: right;

  border-bottom: 1px solid #eaeaea;

  padding: 10px 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .use-coupon .form-group {

  margin-bottom: 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .use-coupon .form-group .btn {

  margin-bottom: 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-payment {

  font-weight: bold;

  font-size: 16px;

  padding: 10px 0;

  border-bottom: 1px solid #eaeaea;

  text-transform: uppercase;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .total-payment span {

  float: right;

  color: #70ba28;

  font-size: 18px;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .button-submit {

  padding: 10px 0;

}

.payment-content .payment-block .payment-step .step-preview .cart-info .button-submit .btn {

  float: right;

  margin-bottom: 0;

}

/*END-CSS:PAYMENT CONTENT

==================================================================================================================*/

/*START-CSS:MY ORDER CONTENT

==================================================================================================================*/

.myorder-content .table-mycart {

  border: 1px solid #ffffff;

  background-color: #ffffff;

}

.myorder-content .table-mycart thead {

  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fdfdfd 0%, #f4f4f4 100%) repeat scroll 0 0 !important;

  text-transform: uppercase;

  color: #aaaaaa;

}

.myorder-content .table-mycart tbody tr a {

  color: #70ba28;

}

.myorder-content .table-mycart tbody tr a:hover {

  color: #333333;

}

.myorder-detail-content .table-mycart .image {

  width: 100px;

  text-align: center;

  -webkit-transition: all 0.2s ease-out;

  -moz-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

}

.myorder-detail-content .table-mycart .image img {

  height: 60px;

}

.myorder-detail-content .table-mycart .image a {

  display: inline-block;

}

.myorder-detail-content .table-mycart .image:hover {

  -moz-opacity: 0.8;

  -khtml-opacity: 0.8;

  -webkit-opacity: 0.8;

  opacity: 0.8;

  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);

  filter: alpha(opacity=80);

}

.myorder-detail-content .table-mycart .box-customer-content .title {

  margin-bottom: 10px;

  margin-top: 10px;

  color: #70ba28;

  font-weight: bold;

}

.myorder-detail-content .table-mycart .box-customer-content .title span {

  border-bottom: 1px solid #70ba28;

}

.myorder-detail-content .table-mycart table tr td {

  border-top: none;

}

.myorder-detail-content .table-mycart table tr td .total-payment {

  color: #ff5400;

  font-size: 16px;

}

.myorder-detail-content .table-mycart table tr td .help-block {

  color: #aaaaaa;

}

.myorder-detail-content .table-mycart table tr.order-stt {

  background-color: #70ba28;

  color: #ffffff;

}

/*END-CSS:MY ORDER CONTENT

==================================================================================================================*/

/*START-CSS:ORDER TRACKING CONTENT

==================================================================================================================*/

.order-tracking-content .order-input {

  padding: 10px;

  background-color: #eaeaea;

  margin-bottom: 15px;

}

.order-tracking-content .order-input .form-group {

  display: block;

  margin-bottom: 0;

}

.order-tracking-content .order-input input {

  margin-bottom: 0;

  min-width: 30%;

}

.order-tracking-content .order-input .btn {

  margin-bottom: 0;

}

/*START-CSS:END ORDER TRACKING CONTENT

==================================================================================================================*/

/*START-CSS:PAYMENT END

==================================================================================================================*/

.payment-end .payment-order {

  position: relative;

  line-height: 30px;

  padding: 40px;

  border: 3px solid #e6e6e6;

  border-radius: 6px;

  background-color: #ffffff;

  margin-bottom: 20px;

}

.payment-end .payment-order table thead {

  background-color: #eaeaea;

  text-transform: uppercase;

}

.payment-end .payment-order .label-payment {

  text-transform: uppercase;

}

.payment-end .payment-order .total-payment {

  color: #ff5400;

  font-size: 18px;

}

.payment-end .payment-order .print-order a {

  color: #ffffff;

  background-color: #ff5400;

  line-height: 20px;

  padding: 5px;

  position: absolute;

  left: 0;

  top: 0;

}

.payment-end .payment-order .print-order a:hover {

  background-color: #333333;

}

/*END-CSS:PAYMENT END

==================================================================================================================*/

/*START-CSS:PRODUCT DETAIL CONTENT

==================================================================================================================*/

.product-detail .product-block .image {

  border: 1px solid #ffffff;

  padding: 10px;

  margin-bottom: 15px;

}

.product-detail .product-block .small-image {

  position: relative;

  margin-bottom: 15px;

}

.product-detail .product-block .small-image .boxprevnext a {

  top: 30%;

}

.product-detail .product-block h2 {

  font-size: 24px;

  font-weight: bold;

  color: #333333;

  text-transform: uppercase;

  margin-bottom: 15px;

}

.product-detail .product-block .price {

  margin-bottom: 15px;

  line-height: 30px;

}

.product-detail .product-block .price .price-new {

  color: #ff5400;

  font-size: 30px;

  margin-right: 15px;

}

.product-detail .product-block .price .price-old {

  text-decoration: line-through;

  font-size: 24px;

  color: #aaaaaa;

  margin-right: 15px;

}

.product-detail .product-block .price .product-code {

  font-weight: bold;

  font-size: 16px;

  color: #666666;

}

.product-detail .product-block .des {

  line-height: 24px;

  border-top: solid 1px #dddddd;

  border-left: solid 1px transparent;

  border-right: solid 1px transparent;

  border-bottom: solid 1px #dddddd;

  padding: 10px 0;

  margin-bottom: 15px;

}

.product-detail .product-block .social {

  margin-bottom: 15px;

}

.product-detail .product-block .option {

  margin-bottom: 20px;

}

.product-detail .product-block .option label {

  color: #333333;

  font-size: 14px;

}

.product-detail .product-block .option .radio {

  display: inline-block;

  margin-right: 10px;

  line-height: 24px;

}

.product-detail .product-block .option .dropdown-option {

  margin-top: 5px;

}

.product-detail .product-block .option .dropdown-option select {

  height: 30px;

  line-height: 30px;

  text-align: center;

}

.product-detail .product-block .option .dropdown-option ul li {

  float: left;

  margin-right: 5px;

}

.product-detail .product-block .option .dropdown-option ul li a {

  padding: 5px 15px;

  cursor: pointer;

  border: 1px solid #f6f6f6;

  transition: none;

}

.product-detail .product-block .option .dropdown-option ul li a.active {

  background: rgba(0, 0, 0, 0) url("Images/select-pro.png") no-repeat scroll right bottom;

  border: 1px solid #70ba28 !important;

}

.product-detail .product-block .option .dropdown-option ul li a:hover {

  opacity: 0.6;

}

.product-detail .product-block .quantity .quantity-input {

  text-align: center;

}

.product-detail .product-block .quantity .quantity-input input {

  float: left;

  height: 30px;

  line-height: 30px;

  text-align: center;

  width: 60px;

}

.product-detail .product-block .addtocart-button a {

  display: inline-block;

  position: relative;

  color: #333333;

  text-transform: uppercase;

  font-weight: bold;

  border: 1px solid #333333;

  padding: 10px;

}

.product-detail .product-block .addtocart-button a:hover {

  color: #ffffff;

  background-color: #70ba28;

  border-color: #70ba28;

}

.product-detail .product-block .addtocart-button a:hover span {

  background-position: center -341px !important;

}

.product-detail .product-block .addtocart-button a.add-to-cart span {

  background-image: url(Images/cart_icon.png);

}

.product-detail .product-block .call .title {

  text-transform: uppercase;

  font-weight: bold;

  font-size: 12px;

}

.product-tabs {

  margin-top: 20px;

}

.product-tabs ul {

  border-bottom: 3px solid #70ba28;

}

.product-tabs ul li {

  margin-bottom: 0;

}

.product-tabs ul li a {

  background-color: transparent;

  color: #70ba28;

  border: none;

  margin-bottom: 0;

  position: relative;

}

.product-tabs ul li a:hover {

  background-color: #70ba28;

  border: none;

  color: #ffffff;

}

.product-tabs ul li.active a {

  background-color: #70ba28;

  border: none;

  color: #ffffff;

}

.product-tabs ul li.active a:hover {

  background-color: #70ba28;

  border: none;

  color: #ffffff;

}

.product-tabs .tab-content {

  padding: 15px 0;

  line-height: 30px;

}

.box-sale-policy .sale-policy-block {

  margin-bottom: 15px;

}

.box-sale-policy .sale-policy-block ul {

  counter-reset: item;

}

.box-sale-policy .sale-policy-block ul li {

  margin-bottom: 5px;

}

.box-sale-policy .sale-policy-block ul li:before {

  content: counter(item) "";

  counter-increment: item;

  background: #70ba28;

  color: #ffffff;

  display: inline-block;

  border-radius: 3px;

  margin: 0 10px;

  padding: 2px 7px;

}

.box-sale-policy .sale-policy-block ul li span {

  color: #ff5400;

}

.box-sale-policy .buy-guide ul {

  padding: 10px;

  counter-reset: item;

}

.box-sale-policy .buy-guide ul li {

  margin-bottom: 10px;

}

.box-sale-policy .buy-guide ul li:before {

  display: inline-block;

  content: counter(item) ".";

  counter-increment: item;

  font-weight: bold;

}

.box-sale-policy .buy-guide ul li strong {

  color: #ff5400;

}

.box-product .box-product-block {

  padding-top: 10px;

}

.box-product .box-product-block .item {

  margin-bottom: 15px;

  background-color: #ffffff;

  padding: 2px;

  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;

  z-index: 9999;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  border-radius: 0;

  position: relative;

}

.box-product .box-product-block .item .shadow {

  background: rgba(0, 0, 0, 0) url("Images/shadow_m.png") no-repeat scroll center bottom / 100% auto;

  bottom: -12px;

  display: block;

  height: 12px;

  position: absolute;

  width: 100%;

  z-index: -1;

}

.box-product .box-product-block .item a {

  color: #333333;

  text-transform: uppercase;

}

.box-product .box-product-block .item .image {

  height: auto !important;

}

.box-product .box-product-block .item .image {

  overflow: hidden;

  position: relative;

}

.box-product .box-product-block .item .image img {

  transition: all 0.2s ease-out 0s;

}

.box-product .box-product-block .item .image:hover img {

  transform: scale(1.1, 1.1);

}

.box-product .box-product-block .item .image .new,

.box-product .box-product-block .item .image .sale,

.box-product .box-product-block .item .image .hot,

.box-product .box-product-block .item .image .promotion {

  display: block;

  text-align: center;

  line-height: 27px;

  padding: 0 10px;

  font-size: 12px;

  font-weight: 700;

  color: #333333;

  text-transform: uppercase;

  position: absolute;

  left: 0;

  top: 0;

  border: 1px solid #333333;

}

.box-product .box-product-block .item .image .sale {

  border-color: #ff5400;

  color: #ff5400;

  right: 0;

  left: auto;

}

.box-product .box-product-block .item .right-block h2.name a:hover,

.box-product .box-product-block .item .right-block h2.name a:visited:hover {

  color: #ff5400;

}

.box-product .box-product-block .item .right-block .ratings {

  margin-bottom: 10px;

}

.box-product .box-product-block .item .right-block .ratings .rating-box {

  background: rgba(0, 0, 0, 0) url("Images/bkg_rating_hover.png") repeat-x scroll 0 0;

  display: inline-block;

  font-size: 0;

  height: 11px;

  line-height: 0;

  margin-top: 0;

  overflow: hidden;

  text-indent: -999em;

  width: 68px;

}

.box-product .box-product-block .item .right-block .ratings .rating-box .rating {

  background: rgba(0, 0, 0, 0) url("Images/bkg_rating_hover.png") repeat-x scroll 0 100%;

  height: 11px;

  width: 84%;

}

.box-product .box-product-block .item .right-block .price {

  float: left;

  line-height: 1.1em;

  text-align: left;

  margin-top: 15px;

}

.box-product .box-product-block .item .right-block .price .price-old {

  display: block;

  font-size: 13px;

  margin-top: 10px;

  text-decoration: line-through;

  color: #aaaaaa;

}

.box-product .box-product-block .item .right-block .price .price-new {

  display: block;

  color: #70ba28;

  font-size: 20px;

}

.box-product .box-product-block .item .right-block .discountpercent {

  color: #ff5400;

  float: left;

  font-size: 35px;

  line-height: 1.7em;

  margin-left: 10px;

  margin-right: 10px;

}

.box-product .box-product-block .item .right-block .button_more {

  float: right;

}

.box-product .box-product-block .item .right-block .button_more i {

  background-color: #70ba28;

  border-radius: 20px;

  color: #ffffff;

  font-size: 22px;

  height: 30px;

  line-height: 30px;

  margin-top: 20px;

  text-align: center;

  width: 30px;

}

.box-product .box-product-block .item .right-block .button_more i:hover {

  background-color: #ff5400;

}

.box-product .box-product-block .item .right-block .box-inner {

  margin-top: 10px;

}

.box-product .box-product-block .item .right-block .box-inner ul {

  float: left;

  margin-left: 0;

  width: 100%;

}

.box-product .box-product-block .item .right-block .box-inner ul li {

  border: 1px solid #ffffff;

  float: left;

  height: 60px;

  margin-bottom: 0;

  margin-left: -1px;

  text-align: center;

  width: calc(33.33333333%);

}

.box-product .box-product-block .item .right-block .box-inner ul li a {

  display: block;

  height: 100%;

  transition: all 0.3s ease-in-out 0s;

  width: 100%;

}

.box-product .box-product-block .item .right-block .box-inner ul li a.add-compare {

  background: #ffffff url("Images/action-llist.png") no-repeat scroll center -96px;

}

.box-product .box-product-block .item .right-block .box-inner ul li a.add-compare:hover {

  background-position: center -145px;

}

.box-product .box-product-block .item .right-block .box-inner ul li a.add-cart {

  background: #ffffff url("Images/action-llist.png") no-repeat scroll center -292px;

}

.box-product .box-product-block .item .right-block .box-inner ul li a.add-cart:hover {

  background-position: center -341px;

}

.box-product .box-product-block .item .right-block .box-inner ul li a.add-wishlist {

  background: #ffffff url("Images/action-llist.png") no-repeat scroll center 5px;

}

.box-product .box-product-block .item .right-block .box-inner ul li a.add-wishlist:hover {

  background-position: center -44px;

}

.box-product .box-product-block .item .right-block .box-inner ul li a:hover {

  background-color: #70ba28 !important;

}

.box-product .box-product-block .item .right-block .addtocart-button {

  margin-top: 20px;

}

.box-product .box-product-block .item .right-block .addtocart-button .add-to-cart {

  background: url(Images/btn-cart.png) no-repeat 10px center;

  border: 1px solid #70ba28;

  line-height: 28px;

  padding: 14px 17px 11px 36px;

  color: #70ba28;

  text-transform: none;

  border-radius: 4px;

}

.box-product .box-product-block .item .right-block .addtocart-button .add-to-cart:hover {

  background-color: #70ba28;

  color: #ffffff;

  background-image: url(Images/btn-cart-hover.png);

}

.box-product .box-product-block .item:hover .box-inner a {

  background-color: #aaaaaa !important;

}

.box-product .box-product-block .item:hover .box-inner a.add-cart {

  background-position: center -341px !important;

}

.box-product .box-product-block .item:hover .box-inner a.add-compare {

  background-position: center -145px !important;

}

.box-product .box-product-block .item:hover .box-inner a.add-wishlist {

  background-position: center -44px !important;

}

.box-product .box-product-block .item:hover .view-more {

  left: 0;

}

.box-product .box-product-block .item:hover .hover-image {

  bottom: 0;

}

/*END-CSS:PRODUCT DETAIL CONTENT

==================================================================================================================*/

.map-block,

.myorder-info {

  margin-bottom: 20px;

}

/*START-CSS:Modal

==================================================================================================================*/

#modalCallMe h2 {

  color: #333333;

  font-size: 30px;

  font-weight: 600;

  text-align: center;

}

#modalCallMe p {

  color: #aaaaaa;

  font-size: 16px;

  text-align: center;

}

/*END-CSS:Modal

==================================================================================================================*/

